[Desktop Entry]
Icon=text-html
Name=https://intuit.ru/studies/courses/20282/1318/lecture/31039
Type=Link
URL[$e]=https://intuit.ru/studies/courses/20282/1318/lecture/31039
