[Desktop Entry]
Icon=text-html
Name=https://mpudelta.github.io/gimp-inkscape/gimp/1/
Type=Link
URL[$e]=https://mpudelta.github.io/gimp-inkscape/gimp/1/
